<h1>To Do List</h1>

<form action="/add" method="post">
  <input type="text" name="item" value="" size="80" placeholder="What do you need to do today?"/>
  <input type="submit" name="" value="Submit">
</form>

<hr>

{{#each todos}}
<section class="row">
  <form action="/complete/{{id}}" method="post">
    <button class="two columns" type="submit" name="removeButton" value="{{title}}"> Mark Complete </button>
      <h4 class="eight columns">{{title}}</h4>
  </form>
  <form action="/edit/{{id}}" method="post">
    <button class="two columns" type="submit" name="editButton" value="{{title}}"> Edit </button>
  </form>
</section>
{{/each}}

<hr>
